<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Blade.Core" version="2.0.0" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net40" />
  <package id="Ninject.Web.Common" version="3.0.0.7" targetFramework="net40" />
  <package id="Synthesis.Blade.Core" version="7.0.0" targetFramework="net45" />
  <package id="Synthesis.Core" version="7.0.0" targetFramework="net45" />
</packages>