<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<blade>
			<!-- this patches the blade presenter factory to use one that is savvy about using Synthesis objects as a default presenter, and Ninject to inject their dependencies -->
			<presenterFactory patch:instead="*" type="Synthesis.Blade.Ninject.NinjectPresenterFactory, Synthesis.Blade.Ninject" />
		</blade>
	</sitecore>
</configuration>