<?xml version="1.0"?>

<!--
	SYNTHESIS CONFIGURATION
	
	This file provides general configuration for the Synthesis mapping framework.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>
		<services>
			<!-- 
				SEARCH CONTEXT RESOLVER
				Synthesis will use this pipeline to resolve the search queryable for the current search index.
			-->
			<register serviceType="Synthesis.ContentSearch.IQueryableResolver, Synthesis" set:implementationType="Synthesis.Solr.ContentSearch.Solr.ResolveSolrQueryable, Synthesis.Solr" />
		</services>
	</sitecore>
</configuration>