<!--
	SYNTHESIS AUTO REGENERATE CONFIG
	
	This enables automatic model regeneration when a template or field is added,
	changed, renamed, or deleted. 
	
	The effect is disabled when <compilation debug="false"> is set in the web.config,
	making this safe to deploy outside of local development environments if you wish.
	As long as you have a sane deployment process :)
	
	You can safely delete this file on any instance where you are not doing active development, CE or CD.
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<events>
			<event name="item:saved">
				<handler type="Synthesis.EventHandlers.AutomaticModelRebuilder, Synthesis" method="OnItemSavedMovedRenamedOrDeleted"/>
			</event>
			<event name="item:deleted">
				<handler type="Synthesis.EventHandlers.AutomaticModelRebuilder, Synthesis" method="OnItemSavedMovedRenamedOrDeleted"/>
			</event>
			<event name="item:moved">
				<handler type="Synthesis.EventHandlers.AutomaticModelRebuilder, Synthesis" method="OnItemSavedMovedRenamedOrDeleted"/>
			</event>
			<event name="item:renamed">
				<handler type="Synthesis.EventHandlers.AutomaticModelRebuilder, Synthesis" method="OnItemSavedMovedRenamedOrDeleted"/>
			</event>
		</events>
	</sitecore>
</configuration>
