<?xml version="1.0"?>

<!--
	SYNTHESIS STARTUP CHECKS
	
	This configuration registers the Synthesis startup checks capabilities, which enable automatic detection of a desynchronized model on application start,
	and in some cases automatic rebuilding of the model.
	
	You can safely delete this file for Content Delivery instances, as well as Content Editing instances if you do not wish to check sync status on startup.
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<initialize>
				<processor type="Synthesis.Pipelines.Initialize.CheckModelSynchronization, Synthesis">
					<!--  STARTUP CHECK MODE
						Controls how the application manages synchronization when it starts
						Requires registration of the Synthesis.StartupSynchronizationModule HTTP module to work
					
						Valid values:
						- Off - do not check model synchronization on startup
						- Log - writes warning events to the Sitecore log if the model is not current
					-->
					<StartupCheckMode>Log</StartupCheckMode>
				</processor>
			</initialize>
		</pipelines>
	</sitecore>
</configuration>