<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<mvc.getModel>
				<!-- Enables injecting Synthesis model types into View Renderings automatically -->
				<processor type="Synthesis.Mvc.Pipelines.GetModel.GetFromSynthesis, Synthesis.Mvc" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Response.GetModel.CreateDefaultRenderingModel, Sitecore.Mvc']"/>
			</mvc.getModel>
			
			<mvc.getRenderer>
				<!-- Prevents an invalid model type from crashing the whole page -->
				<processor type="Synthesis.Mvc.Pipelines.GetRenderer.ResilientGetViewRenderer, Synthesis.Mvc" patch:instead="*[@type='Sitecore.Mvc.Pipelines.Response.GetRenderer.GetViewRenderer, Sitecore.Mvc']" />
				
				<!-- 
					Injects diagnostic HTML comments around MVC renderings (e.g. timings, output caching settings, start/end of markup)
					This function turns off automatically when debug compilation is turned off in the web.config
				-->
				<processor type="Synthesis.Mvc.Pipelines.GetRenderer.RenderingDiagnosticsInjector, Synthesis.Mvc" />
			</mvc.getRenderer>
		</pipelines>
	</sitecore>
</configuration>